.auth-container {
    text-align: center;
    margin: 50px auto;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .auth-container h2 {
    margin-bottom: 20px;
    color: #333;
  }
  
  .auth-container input {
    display: block;
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center; 
    box-sizing: border-box; 
}
  
  .auth-container button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  
  .auth-container button:hover {
    background-color: #d1dfd1;
    
  }
  
  .auth-container .error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .auth-container .link-button {
    display: block;
    margin-top: 10px;
    background: none;
    color: #007bff;
    border: none;
    cursor: pointer;
  }
  
  .auth-container .link-button:hover {
    text-decoration: underline;
  }
  