.App {
  text-align: center;
  
}
html, body {
  height: 100%;
  background-color: #26241F;
  
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #26241F;
  background-color: #26241F;
}

.App-link {
  color: #61dafb;
}



.app {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #26241F;
  color: #ffffff;
  min-height: 100vh;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  margin: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #CCDF97;
  color: white;
}

button:hover {
  background-color: #5d7224;
}
.home button {
  font-size: 1.5rem;
  padding: 15px 30px; 
  margin: 10px; 
  border: none; 
  border-radius: 10px; 
  background-color: #4CAF50; 
  color: white; 
  cursor: pointer; 
  transition: transform 0.2s, background-color 0.2s; 
}

.home button:hover {
  background-color: #45a049; 
  transform: scale(1.05); 
}

.home button:active {
  background-color: #3e8e41; 
  transform: scale(0.95);
}

